@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />
<form method="post">
<label asp-for="_user.Username"></label>
    <input asp-for="_user.Username" name="Username" />
<br />
<label asp-for="_user.Password"></label>
    <input asp-for="_user.Password" name="Password" />
    <input type="submit" value="Submit" />
    <br />
    <br />
    <h2>@ViewData["Message"]</h2>
    
</form>